<div class="container backgrnd my-3">

        <div class="row">
          <div class="col-4">
            <div class="card my-3">
              <div class="card-header bg-warning">
                <img src="./assets/movie_logo.jpg" alt="logo" class="card-img-top">
              </div>
              <div class="card-body">
                <h4>{{movies[0].movieName}}</h4>
                <p><b>Genres:&nbsp;</b>{{movies[0].genres}}</p>
              </div>
              <div class="card-footer d-grid">
                <button class="btn btn-primary" (click)="booking()">Book</button>
              </div>
            </div>
          </div><br>
          <div class="col-4">
            <div class="card my-3">
              <div class="card-header bg-warning">
                <img src="./assets/movie_logo.jpg" alt="logo" class="card-img-top">
              </div>
              <div class="card-body">
                <h4>{{movies[1].movieName}}</h4>
                <p><b>Genres:&nbsp;</b>{{movies[1].genres}}</p>
              </div>
              <div class="card-footer d-grid">
                <button class="btn btn-primary" (click)="booking()">Book</button>
              </div>
            </div>
          </div><br>
          <div class="col-4">
            <div class="card my-3">
              <div class="card-header bg-warning">
                <img src="./assets/movie_logo.jpg" alt="logo" class="card-img-top">
              </div>
              <div class="card-body">
                <h4>{{movies[2].movieName}}</h4>
                <p><b>Genres:&nbsp;</b>{{movies[2].genres}}</p>
              </div>
              <div class="card-footer d-grid">
                <button class="btn btn-primary" (click)="booking()">Book</button>
              </div>
            </div>
          </div><br>
          <div class="col-4">
            <div class="card my-3">
              <div class="card-header bg-warning">
                <img src="./assets/movie_logo.jpg" alt="logo" class="card-img-top">
              </div>
              <div class="card-body">
                <h4>{{movies[3].movieName}}</h4>
                <p><b>Genres:&nbsp;</b>{{movies[3].genres}}</p>
              </div>
              <div class="card-footer d-grid">

                <button class="btn btn-primary" (click)="booking()">Book</button>
              </div>
            </div>
          </div><br>
        </div>
</div>