
<div class="container my-3">
    <!--Add product form-->

    <div class="card w-75 border-dark">
        <div class="card-header text-white text-center bg-primary">
             <h3>Book Movie</h3>
        </div>
        <div class="card-body bg-primary-subtle">
            <form class="" [formGroup]="bookingForm" (ngSubmit)="submitted(bookingForm)">

                <div>
                    <label class="form-label"><b>Customer Name</b></label>
                    <input type="text" formControlName="customerName"  class="form-control"  >

                    <div *ngIf="bookingForm.controls['customerName'].touched">
                        <small *ngIf="bookingForm.controls['customerName']?.errors?.['required']"
                            class="text-danger fw-bolder">Enter a name</small>
                        <small *ngIf="bookingForm.controls['customerName']?.errors?.['pattern']"
                            class="text-danger fw-bolder">Name must must contain atleat 3 letters and only alphabets</small>
                    </div>
                </div>
               
                <div>
                    <label class="form-label"><b>Mobile number</b></label>
                    <input type="tel" formControlName="mobileNumber"  class="form-control">
                    <div *ngIf="bookingForm.controls['mobileNumber'].touched">
                        <small *ngIf="bookingForm.controls['mobileNumber']?.errors?.['required']"
                            class="text-danger fw-bolder">Enter a mobile number</small>
                        <small *ngIf="bookingForm.controls['customerName']?.errors?.['pattern']"
                            class="text-danger fw-bolder" >Enter a valid number</small>
                    </div>
                </div>
                
                <div>
                   <label class="form-label"><b>No Of Tickets</b></label>
                    <input type="number" formControlName="noOfTickets"   class="form-control"> 
                    <div *ngIf="bookingForm.controls['noOfTickets'].touched">
                        <small *ngIf="bookingForm.controls['noOfTickets']?.errors?.['required']" 
                            class="text-danger fw-bolder">Enter a number</small>
                        <small *ngIf="bookingForm.controls['noOfTickets']?.errors?.['max']"
                            class="text-danger fw-bolder">Max 4 tickets can booked</small>
                    </div>
                </div>
                

                <br><input type="submit" value="Book" class="btn btn-warning mx-3" [disabled]="bookingForm.invalid || seatsSelection" (click)="bookingBtn()">
                <!-- <input type="button" value = "Booking details" class="btn btn-primary mx-3" (click)="navigate()"> -->
                <input type="button" value = "select seats" class="btn btn-primary mx-3" (click)="showSeats()">
            </form>
        </div>

        <div class="container">
            <div *ngIf ="seatsDiv">
                <h4>seats div </h4>
                <div class="movie-container">
                    <label> Select a movie:</label>
                    <select id="movie">
                      <option value="220">Godzilla vs Kong (RS.220)</option>
                      <option value="320">Radhe (RS.320)</option>
                      <option value="250">RRR (RS.250)</option>
                      <option value="260">F9 (RS.260)</option>
                    </select>
                  </div>
              
                  <ul class="showcase">
                    <li>
                      <div class="seat"></div>
                      <small>Available</small>
                    </li>
                    <li>
                      <div class="seat selected"></div>
                      <small>Selected</small>
                    </li>
                    <li>
                      <div class="seat sold"></div>
                      <small>Sold</small>
                    </li>
                  </ul>
                  <div class="container" >
                    <div class="screen"></div>
              
                    <div class="row"  (click)="seatColor($event)">
                      <div class="seat"></div>
                      <div  class="seat"></div>
                      <div   class="seat" ></div>
                      <div   class="seat" ></div>
                      <div   class="seat" ></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                    </div>
              
                    <div class="row" (click)="seatColor($event)">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat sold"></div>
                      <div class="seat sold"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                    </div>
                    <div class="row" (click)="seatColor($event)">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat sold"></div>
                      <div class="seat sold"></div>
                    </div>
                    <div class="row" (click)="seatColor($event)">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                    </div>
                    <div class="row">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat sold"></div>
                      <div class="seat sold"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                    </div>
                    <div class="row">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat sold"></div>
                      <div class="seat sold"></div>
                      <div class="seat sold"></div>
                      <div class="seat"></div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="card-footer bg-warning">
            <p *ngIf ="successMessage ;else error" class="text-success fw-bolder">{{successMessage}}</p>
            <ng-template #error>
                <p class="text-danger fw-bolder">{{errorMessage}}</p>
            </ng-template>
        </div>
    </div>
    <!-- <div class="form-area">
     
      

      <div class="container">
      </div>
    </div> -->